* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 700px) {
  .app {
    background-image: url("../src/assets/mobile-legends.jpeg");
    background-size: cover;
    min-height: 100vh;
  }
}

@media (max-width: 700px) {
  .app {
    background-image: url("../src/assets/mobile-legends.jpeg");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
  }
}
